<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Food To Go - Store View</title>

	<!-- Bootstrap core CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-social.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/assets/css/sb-admin.css" rel="stylesheet">

</head>

<body>

		<div id="wrapper">
			{{>storenav}}
				<div id="page-wrapper">
						<div class="container-fluid">
							{{{body}}}
						</div>
				</div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		{{#if script}}
			<script src="/assets/js/{{script}}.js"></script>
		{{/if}}
	</body>
</html>
