<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<div class="alert alert-success">
			<p class="lead">Your payment has been successfully processed!</p>
			<p id="key">Your payment ID is: {{id}} </p>
		</div>
	</div>

</div><!-- /.container -->
