<div class="container">

	<div id="post">
		<h1>Success!</h1>
		<div class="alert alert-success">
			<p class="lead">Your payment has been successfully processed!</p>
			A copy of the order will be emailed to you. if you want the confirmation number now, click <a href="/payment_confirm">here</a>.
		</div>
	</div>

</div><!-- /.container -->
