<div class="container">

	<div class="loader">
		<div class="loader-centered">
			<div class="object square-one"></div>
			<div class="object square-two"></div>
			<div class="object square-three"></div>
			<p> Your payment is processing... </p>
		</div>
	</div>

</div><!-- /.container -->
