<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">Start your pizza order online today.<br><br><br></p>
				<a href="/ordering" class="btn btn-primary" id="startButton">Start Order</a>
		</form>
	</div>

</div><!-- /.container -->
