<div class="container">

	<div class="col-md-8 col-md-offset-4">

		<h1><span class="fa fa-sign-in"></span> Login</h1>
		<br>
		<p class="lead">Use one of the serives below!</p>
		<div class="col-md-6">
			<a class="btn btn-block btn-social btn-lg btn-twitter" href="/auth/stripe">
				<span class="fa fa-credit-card"></span>
				Sign in with Stripe
			</a>
			<a class="btn btn-block btn-social btn-lg btn-google" href="/auth/google">
				<span class="fa fa-google"></span>
				Sign in with Google
			</a>
			<a class="btn btn-block btn-social btn-lg btn-reddit" href="/auth/reddit">
				<span class="fa fa-reddit"></span>
				Sign in with Reddit
			</a>
			<a class="btn btn-block btn-social btn-lg btn-facebook" href="/auth/facebook">
				<span class="fa fa-facebook"></span>
				Sign in with Facebook
			</a>
			<a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
				<span class="fa fa-github"></span>
				Sign in with Github
			</a>
	</div>

</div><!-- /.container -->
