<div class="container">

	<div class="starter-template">
		<h1>{{get_name}}</h1>
		<p class="lead">Time to pick what you want in your order!</p>
		<!--TODO: These items need to be required to continue. -->
		<form id="deliveryInfo">
			Name:  <input id="name" type=""><br><br>
			Phone Number:  <input id="number" type=""><br><br>
			Address:  <input id="address" type="">
			City:  <input id="city" type=""><br><br>
			State:  <input id="state" type="">
			Zip Code:  <input id="zip" type=""><br><br>
			<button class="btn btn-primary startBtn" id="infoButton">Submit Info</button>

		</form>

		<form id="optionForm">
			<div id="one">
				<h3>Which item do you want to add to the order?</h3><hr>
				<!-- Table -->
				<table class="table">
					<thread>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Category</th>
							<th>Description</th>
							<th>Price</th>
						</tr>
					</thread>
					<tbody id="content">
						<!-- content appended here -->
					</tbody>
				</table>
			</div>
			<div id="two">
				<h3>more options??</h3><hr>
				<input type="radio" name="name" value="value"> value?
				<input type="radio" name="name" value="value"> value?
				<br><hr>
			</div>
			<div id="add">
				<button class="btn btn-primary startBtn" id="cartButton">Add to Cart</button>
			</div>
			<div id="go">
				<a href="/checkout" class="btn btn-primary startBtn" id="checkoutButton">Checkout</a>
			</div>
		</form>
	</div>

</div><!-- /.container -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwiMkIJ9lpScKXp-bwb-8MkLr0N7FWfbM">
</script>
